.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.centralDiv {
  width: 100%;
  height: 100vh;
  background: #7395AE;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;

}

ol li {
  padding-left: 0px;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #557A95;
  text-transform: capitalize;
}

h1 {
  color: white;
  background: transparent;
  background-color: #7395AE;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

/* to be updated*/

input{
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  border-bottom: 2px solid #7395AE;
  outline: none;
}

.todoDiv{
  width: 40%;
  height: 100vh;
  background-color: #B1A296;
  box-shadow: 5px 5px 25px --5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

button {
  min-height: 40px;
  width: 40px;
  border-radius: 50%;
  border: #7395AE;
  color: #557A95;
  font-size: 30px;
  outline: none;
  margin-left: 10px;
 
}

button:hover {
  background-color: #7395AE;
}

.task_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}


.task_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  background-color: #7395AE;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: #7395AE;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.task_style .fa-times:hover {
  background-color: crimson;
}

.task_style .fa-times:hover .list_style {
  color: crimson;
} 













@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
